# Pandas-datareader
- https://pandas-datareader.readthedocs.io/en/latest/

In [1]:
import pandas_datareader as pdr

In [3]:
import datetime as dt

In [9]:
ticker = "AAPL"
start = dt.datetime(2019, 1, 1)
end = dt.datetime(2020, 12, 31)

data = pdr.get_data_yahoo(ticker, start, end)

In [10]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2019-01-02  39.712502  38.557499  38.722500  39.480000  148158800.0  38.562561
2019-01-03  36.430000  35.500000  35.994999  35.547501  365248800.0  34.721451
2019-01-04  37.137501  35.950001  36.132500  37.064999  234428400.0  36.203678
2019-01-07  37.207500  36.474998  37.174999  36.982498  219111200.0  36.123104
2019-01-08  37.955002  37.130001  37.389999  37.687500  164101200.0  36.811718

In [11]:
data.index

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=505, freq=None)

In [12]:
data.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object

In [13]:
data.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-24,133.460007,131.100006,131.320007,131.970001,54930100.0,131.970001
2020-12-28,137.339996,133.509995,133.990005,136.690002,124486200.0,136.690002
2020-12-29,138.789993,134.339996,138.050003,134.869995,121047300.0,134.869995
2020-12-30,135.990005,133.399994,135.580002,133.720001,96452100.0,133.720001
2020-12-31,134.740005,131.720001,134.080002,132.690002,98990400.0,132.690002

In [14]:
data2 = pdr.get_data_stooq(ticker, start)

In [15]:
data2.head()

              Open    High     Low   Close     Volume
Date
2021-01-26  143.60  144.30  141.37  143.16   98390555
2021-01-25  143.07  145.09  136.54  142.92  157611713
2021-01-22  136.28  139.85  135.02  139.07  114459360
2021-01-21  133.80  139.67  133.59  136.87  120529544
2021-01-20  128.66  132.49  128.55  132.03  104319489

In [16]:
data2.tail()

              Open    High     Low   Close     Volume
Date
2019-01-08  36.522  37.074  36.267  36.808  168005368
2019-01-07  36.309  36.342  35.627  36.120  224323903
2019-01-04  35.294  36.275  35.114  36.203  240005531
2019-01-03  35.159  35.581  34.675  34.722  373938361
2019-01-02  37.825  38.788  37.660  38.563  151683774

In [17]:
nasdaq_sym = pdr.get_nasdaq_symbols()

In [19]:
nasdaq_sym.loc['AAPL']

Nasdaq Traded                            True
Security Name       Apple Inc. - Common Stock
Listing Exchange                            Q
Market Category                             Q
ETF                                     False
Round Lot Size                            100
Test Issue                              False
Financial Status                            N
CQS Symbol                                NaN
NASDAQ Symbol                            AAPL
NextShares                              False
Name: AAPL, dtype: object

In [20]:
len(nasdaq_sym)

9666